/* 전체 설정 */
body{
  max-width: 1280px;
  margin: 100px auto;
  background-size: cover;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  font-family: "Gothic A1", serif;
  font-weight: 600;
  font-style: normal;
}

.bold{
  font-weight: bold;
}

.h2, h4{
  font-family: "Do Hyeon", serif;
  font-weight: 900;
  font-style: normal;
}

hr{
  margin-bottom: 20px;
}

.menu{
  display: flex;
  justify-content: space-between;
}

.menuC{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.image:active{
  opacity: 0.5;
}

/* 런치 메뉴 */
.top{
  display: flex;
}

/* 런치 메뉴 왼쪽 */

.left{
  width: 45%;
  overflow: auto;
  background-color: #2C2825;
  padding: 10px 30px;
}

/* 왼쪽 메뉴 글자 흰색 */
.white{
  color: white;
}

/* 이미지 z-index */
.menuIndex{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.index{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  align-content: center;
}

.z1{
  position: absolute;
  left: 205px;
  z-index: 10;
}

.z2{
  position: absolute;
  left: 285px;
  z-index: 5;
}

.z3{
  position: absolute;
  left: 380px;
  z-index: 3;
}


/* 오른쪽 메뉴 */
.right{
  width: 55%;
}

/* 런치 메뉴 오른쪽 위 */
.rightTop{
  height: 420px;
  background-color: #F9F6F1;
  padding: 40px;
  overflow: hidden;
}

.menuJaeyuk{
  display: flex;
}

.jaeyuk{
  width: 350px;
  height: 350px;
  margin: 0 100px 0 0;
}

.menuIndexy{
  position: relative;
  display: flex;
  flex-direction: column;
}

.indexy{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.z4{
  position: absolute;
  z-index: 10;
}

.z5{
  position: absolute;
  top: 80px;
  z-index: 5;
}

.z6{
  position: absolute;
  top: 160px;
  z-index: 3;
}

/* 런치 메뉴 오른쪽 아래 */
.rightBottom{
  height: 240px;
  background-color: #DCD2C8;
  padding: 40px;
}

.coldMenu{
  display: flex;
  margin-bottom: 30px;
}

.text{
  text-align: right;
}

/* 아래 전체 설정 */
.bottom{
  overflow: auto;
  background-color: #F9F6F1;
  padding: 40px;
}

.black{
  width: 220px;
  font-weight: bold;
  padding: 10px 25px;
  margin-bottom: 15px;
  background-color: #35312E;
  color: white;
}

/* 국/찌개류 메뉴 */
.Bleft{
  width: 45%;
  margin-right: 5px;
}

.Inline{
  display: inline; /* 한 줄 */
}

.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuD{
  display: flex;
  margin: 20px 0;
}

.dongtae{
  margin: auto 50px;
}

/* 볶음류 메뉴 */
.Bright{
  width: 45%;
  margin-left: 5px;
}
.BrightTop{
  margin-bottom: 70px;
}

/* 분식류 메뉴 */
.BrightBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.Brightbox{
  display: flex;
}

.BrightBR{
  margin-bottom: 5px;
  margin-right: 50px;
  width: 45%;
}

.BrightBL{
  margin-bottom: 5px;
  width: 45%;
}