/* 전체 설정 */
body{
  max-width: 1280px;
  margin: 20px auto;
  background-color: beige;
  font-family: "Gothic A1", serif;
  font-weight: 600;
  font-style: normal;
}

.bold{
  font-weight: bold;
}

.h1{
  font-family: "Do Hyeon", serif;
  font-weight: 1000;
  font-style: normal;
}

.Inline{
  display: inline;
}

img{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

/* 왼쪽 메뉴 설정 */
.top{
  display: flex;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  overflow: auto;
  background-color: #2C2825;
  padding: 80px 10px;
  color: white;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* 오른쪽 메뉴 설정 */
.right{
  width: 55%;
}

/* 오른쪽 위 */
.rightTop{
  height: 420px;
  background-color: #F9F6F1;
  padding: 40px;
  overflow: hidden;
}

/* 오른쪽 아래 (z-index) */
.rightBottom{
  height: 240px;
  background-color: #DCD2C8;
  padding: 40px;
}

.index{
  position: relative;
  display: flex;
  align-items: center;
}

.image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.z1{
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 10;
}

.z2{
  position: absolute;
  top: 15px;
  left: 130px;
  z-index: 7;
}

.z3{
  position: absolute;
  top: 15px;
  left: 230px;
  z-index: 5;
}

.z4{
  position: absolute;
  top: 15px;
  left: 330px;
  z-index: 3;
}

.z5{
  position: absolute;
  top: 15px;
  left: 430px;
  z-index: 1;
}

/* 아래 버튼 */
.bottom{
  display: flex;
  overflow: auto;
  background-color: #F9F6F1;
  justify-content: center;
  padding: 40px;
}

button{
  background-color: #DCD2C8;
  border-radius: 5px;
  border-color: #DCD2C8;
  padding: 10px 100px;
  cursor: pointer;
}